<%- include('partials/_header')-%>
 
 <div class="container film">
    <h1><%= actor.name %></h1>
    <div class="film-main">
      <div class="film-pos">
        <img src="<%= actor.image %>" alt="">
      </div>
      <div class="btns">
        
        <% if(liked == true) {  %>
        <a href="/actor/re-like/<%=actor.id %>/single" class="fav like btn-act"><i class="fas fa-heart"></i><span><%= actor.likes.length %></span></a>
        <% } %>
        <% if(liked == false) {  %>
        <a href="/actor/like/<%=actor.id %>/single" class="fav btn-act"><i class="far fa-heart"></i><span><%= actor.likes.length %></span></a>
        <% } %>
        <a href="#comment" class="comment-btn btn-act"><i class="far fa-comment"></i><span><%= actor.comments.length %></span></a>
        
      </div>
      <p>
        <%= actor.description %>
    </p>
    </div>
    
    <div id="comment" class="comment-block">
      
      <form method='POST' action="/actor/add-comment/<%=actor.id%>">
        <textarea name="content" id="" rows="3" maxlength="200">Your Comment</textarea>
        <button class="add-comment">Submit</button>
      </form>
      <ul class="comment-list">
        <% for(let i=0; i < actor.comments.length; i++) { %>
        <li>
          <div class="comment-header">
            <a href=""><%= actor.comments[i].author %></a>
            <% if(actor.comments[i].author === user) { %>
              <a href="/actor/deleteComment/<%= actor.comments[i].id %>/<%=actor.id %>/?_method=DELETE" class="delete-btn pbtn" onclick="return confirm('ARE YOU SURE?')"><i class="fas fa-trash"></i></a>
              <% } %>
          </div>
          <p><%= actor.comments[i].content %></p>
        </li>
        <% } %>

      </ul>
    </div>
  </div>
  <script src="/js/script.js"></script>
</body>
</html>