<%- include('partials/_header')-%>
  <div class="container">
    
    <div class="film-main">
      <% for(let i=0; i<1; i++) { %>
      <div class="top-rated">
        <div class="img"><img src="/images/award.png" alt=""></div>
        <div class="title">Top Rated Film</div>
        <div class="img"><img src="/images/award.png" alt=""></div>
      </div>
      <div class="film-content">
        <a class="film-img" href="/film/<%=films[i].id %>"><img src="<%= films[i].image %>" alt=""></a>
        <div class="film-text">
          <div class="film-info">
            <div class="film-header">
               <a class="film-title" href="/film/<%=films[i].id %>"><%= films[i].name %></a>
                 <div class="ago"><%= (moment(films[i].created).startOf('minute').fromNow()) %> <i class="far fa-clock"></i></div>
            </div>
            <p><%= films[i].description.substring(0, 600) + "..." %></p>
          </div>
          <a href="" class="user">@<%= films[i].user.username %></a>
        </div>
      </div>
      <div class="btns">

        <% if(userfilmLikes.includes(films[i].id)) { %>
        <a href="/film/re-like/<%=films[i].id %>/dash" class="fav like btn-act"><i class="fas fa-heart"></i> <span><%= films[i].likes.length %></span></a>
        <% } %>
        <% if(!userfilmLikes.includes(films[i].id)) { %>
        <a href="/film/like/<%=films[i].id %>/dash" class="fav btn-act"><i class="far fa-heart"></i> <span><%= films[i].likes.length %></span></a>
        <% } %>
        <a href="/film/<%=films[i].id %>#comment" class="comment-btn btn-act"><i class="far fa-comment"></i> <span><%= films[i].comments.length %></span></a>
      </div>
      
    </div>
    <% } %>

    <div class="film-main">
      <% for(let i=0; i<1; i++) { %>
      <div class="top-rated">
        <div class="img"><img src="/images/award.png" alt=""></div>
        <div class="title">Top Rated Actor</div>
        <div class="img"><img src="/images/award.png" alt=""></div>
      </div>
      <div class="film-content">
        <a class="film-img" href="/actor/<%=actors[i].id %>"><img src="<%= actors[i].image %>" alt=""></a>
        <div class="film-text">
          <div class="film-info">
            <div class="film-header">
            <a class="film-title" href="/actor/<%=actors[i].id %>"><%= actors[i].name %></a>
            <div class="ago"><%= (moment(actors[i].created).startOf('minute').fromNow()) %> <i class="far fa-clock"></i></div>
          </div>
            <p><%= actors[i].description.substring(0, 600) + "..." %></p>
          </div>
          <a href="" class="user">@<%= actors[i].user.username %></a>
        </div>
      </div>
      <div class="btns">

        <% if(useractorLikes.includes(actors[i].id)) { %>
        <a href="/actor/re-like/<%=actors[i].id %>/dash" class="fav like btn-act"><i class="fas fa-heart"></i> <span><%= actors[i].likes.length %></span></a>
        <% } %>
        <% if(!useractorLikes.includes(actors[i].id)) { %>
        <a href="/film/like/<%=actors[i].id %>/dash" class="fav btn-act"><i class="far fa-heart"></i> <span><%= actors[i].likes.length %></span></a>
        <% } %>
        <a href="/actor/<%= actors[i].id%>#comment" class="comment-btn btn-act"><i class="far fa-comment"></i> <span><%= actors[i].comments.length %></span></a>
      </div>
      
    </div>
    <% } %>














  <div>

  <script src="/js/script.js"></script>
</body>
</html>