<%- include('partials/_header')-%>
  <div class="container film">
    
    <h1><%= film.name %></h1>
    <div class="film-main">
      <div class="film-pos">
        <img src="<%= film.image %>" alt="">
      </div>
      <div class="film-detail">
        <div class="btns">
        
          <% if(liked == true) {  %>
          <a href="/film/re-like/<%=film.id %>/single" class="fav like btn-act"><i class="fas fa-heart"></i><span><%= film.likes.length %></span></a>
          <% } %>
          <% if(liked == false) {  %>
          <a href="/film/like/<%=film.id %>/single" class="fav btn-act"><i class="far fa-heart"></i><span><%= film.likes.length %></span></a>
          <% } %>
          <a href="#comment" class="comment-btn btn-act"><i class="far fa-comment"></i><span><%= film.comments.length %></span></a>
          
        </div>
        
        <div class="ago"><%= (moment(film.created).startOf('minute').fromNow()) %> <i class="far fa-clock"></i></div>
      </div>
      <p>
        <%= film.description %>
    </p>
    </div>
    
    <div id="comment" class="comment-block">
      
      <form method='POST' action="/film/add-comment/<%=film.id%>">
        <textarea name="content" id="" rows="3" maxlength="200">Your Comment</textarea>
        <button class="add-comment">Submit</button>
      </form>
      <ul class="comment-list">
        <% for(let i=0; i < film.comments.length; i++) { %>
        <li>
          <div class="comment-header">
            <a href=""><%= film.comments[i].author %></a>
            <% if(film.comments[i].author === user) { %>
              <a href="/film/deleteComment/<%= film.comments[i].id %>/<%=film.id %>/?_method=DELETE" class="delete-btn pbtn" onclick="return confirm('ARE YOU SURE?')"><i class="fas fa-trash"></i></a>
              <% } %>
          </div>
          <p><%= film.comments[i].content %></p>
        </li>
        <% } %>

      </ul>
    </div>
  </div>
  <script src="/js/script.js"></script>
</body>
</html>