<%- include('partials/_header')-%>
  <div class="container">
    
    <% for(let i=0; i<myFilms.length; i++) { %>
    <div class="film-main">

      <div class="film-content">
        <a class="film-img" href="/film/<%=myFilms[i].id %>"><img src="<%= myFilms[i].image %>" alt=""></a>
        <div class="film-text">
          <div class="film-info">
            <div class="film-header">
          <a class="film-title" href="/film/<%=myFilms[i].id %>"><%= myFilms[i].name %></a>
          <div class="ago"><%= (moment(myFilms[i].created).startOf('minute').fromNow()) %> <i class="far fa-clock"></i></div>
            </div>
          <p><%= myFilms[i].description.substring(0, 600) + "..." %></p>
          </div>
          <a href="" class="user">@<%= myFilms[i].user.username %></a>
        </div>
      </div>
      <div class="process">
        <div class="btns">

          <% if(userfilmLikes.includes(myFilms[i].id)) { %>
          <a href="/film/re-like/<%=myFilms[i].id %>/my" class="fav like btn-act"><i class="fas fa-heart"></i> <span><%= myFilms[i].likes.length %></span></a>
          <% } %>
          <% if(!userfilmLikes.includes(myFilms[i].id)) { %>
          <a href="/film/like/<%=myFilms[i].id %>/my" class="fav btn-act"><i class="far fa-heart"></i> <span><%= myFilms[i].likes.length %></span></a>
          <% } %>
          <a href="/film/<%=myFilms[i].id %>#comment" class="comment-btn btn-act"><i class="far fa-comment"></i> <span><%= myFilms[i].comments.length %></span></a>
          <% if(myFilms[i].visible== false) { %>
            <a href="" class="btn-act"><i class="fas fa-lock"></i></a>
          <% } %>
        </div>
        <div class="process-btns">
          <a href="/film/update-film/<%=myFilms[i].id %>" class="update-btn pbtn"> Update</a>
          <a href="/film/delete/<%=myFilms[i].id %>/?_method=DELETE" class="delete-btn pbtn" onclick="return confirm('ARE YOU SURE?')"><i class="fas fa-trash"></i></a>
        </div>
      </div>
      
    </div>
    <% } %>
    
  </div>
  <div>


  <script src="/js/script.js"></script>
</body>
</html>