<%- include('partials/_header')-%>
  <div class="container">
    <div class="add">
      <h1>Update Film</h1>
    <div id="comment" class="add-block">
      <form method="POST" action="/film/update/<%= film.id %>/?_method=PUT" enctype="multipart/form-data">
        <div id="preview">
          <img src="<%= film.image %>" alt="">
        </div>
        <div class="form-text">
          <input type="text" name="name"class="item-name" placeholder="<%= film.name %> "value="<%= film.name %>" >
          <label class="file">
            <input type="file" id="file" name="image"  accept="image/*" aria-label="File browser">
              <span class="file-custom"></span>
          </label>
          <div class="lock-box">
            <% if(!film.visible) { %>
              <input type="checkbox" name="visibility" id="lock" checked>
              <% } %>
              <% if(film.visible) { %>
                <input type="checkbox" name="visibility" id="lock">
              <% } %>
            <label for="lock"><i></i></label>
          </div>
        </div>
        <textarea name="description" id="" rows="10"><%= film.description %></textarea>
        <button class="add-comment">Submit</button>
      </form>
    </div>
    </div>
    <hr>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="/js/script.js"></script>
</body>
</html>